.toggleBack {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  width: auto;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #888888;
  text-align: center;
}

.tagsList {
  list-style-type: none;
  padding: 0;
}

.left-panel {
  float: left;
  width: 10%;
}
